header {
    background-color: #424E61;
    color: white;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 12px 15px 20px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    margin: 0 16px;
    font-size: 24px;
}

.Mugiwara{
        background-image: linear-gradient(#424E61,#16CFF8);
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px ;
    }

    .Mugiwara-div{
        width: 35%;
    }

    .mugiwara-titulo{
        padding: 24px 0;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }

    .Tripulação-foto{
        width: 120px;
    }

    .estudante-todos{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

